.hotel-details {
  display: flex;
  flex-direction: column;
}

.hotel-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.hotel-details h4 {
  margin: 0;
}

.hotel-details p {
  padding: 0px;
  margin: 10px 0px;
  color: black;
}
.hotel-details span {
  background-color: #030380;
  color: #fff;
  padding: 2px;
}
@media only screen and (max-width: 768px) {
  /* hiển thị trên điện thoại */
  .hotel-details {
    display: block;
  }
  .hotel-span {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* hiển thị trên máy tính bảng */
}

@media only screen and (min-width: 1024px) {
  /* hiển thị trên máy tính */
}
